/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 6s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 6s infinite ease-in-out;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(210, 80%, 54%);
  --first-color-alt: hsl(210, 80%, 50%);
  --title-color: hsl(210, 24%, 90%);
  --text-color: hsl(210, 16%, 70%);
  --white-color: #fff;
  --body-color: hsl(210, 32%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animations */
}

/* Snow animation */
@keyframes animate-snow-1 {
  0%, 100% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
}
@keyframes animate-snow-2 {
  0%, 100% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.nav-toggle,
.nav-close {
  display: flex;
  color: var(--white-color);
}

.nav-logo img{
  width: 30px;
  transform: rotate(-10deg);
}

.nav-logo {
  align-items: center;
  column-gap: .25rem;
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 3.5rem;
    transition: top .4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav-link {
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-image-1,
.nav-image-2 {
  position: absolute;
}

.nav-image-1 {
  width: 40px;
  top: 6rem;
  left: 2.5rem;
  transform: rotate(15deg);
}

.nav-image-2 {
  width: 60px;
  right: 1rem;
  bottom: 2rem;
  transform: rotate(15deg);
}





/* Show menu */
.show-menu {
  top: 0;
}



/* Change background header */
.bg-header {
  background: var(--body-color);
}



/* Active link */


/*=============== HOME ===============*/

.home {
  height: 650px;
  overflow: hidden;  
  padding-top: 7rem;
  position: relative;
  background: linear-gradient(180deg, #063360, #4994df);
}

.home-title{
  color: var(--white-color);
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-top: 1.5rem;
}

.home img {
  position: absolute;
}

.home-mountain-1,
.home-snow {
  bottom: 0;
}

.home-village,
.home-pine,
.home-moon,
.home-trineo {
  left: 0;
  right: 0;
  margin: auto;
}

.home-village {
  width: 260px;
  bottom: 1rem;
}

.home-pine {
  width: 250px;
  bottom: 4rem;
}

.home-mountain-2 {
  bottom: 3rem;
}
.home-mountain-3 {
  bottom: 6rem;
}

.home-moon {
  width: 300px;
  bottom: 8.5rem;
}

.home-trineo {
  width: 250px;
  bottom: 14.5rem;
}

/*=============== ABOUT ===============*/

.about-container {
  position: relative;
  row-gap: 3.5rem;
}

.section-title {
  font-family: var(--second-font);
  margin-bottom: 30px;
  margin-top: -20px;
  text-align: center;
}

.about-data {
  text-align: center;
}

.about-description {
  margin-bottom: 2rem;
}

.about-img {
  width: 320px;
  justify-self: center;
}

.about-snow-1,
.about-snow-2 {
  width: 50px;
  position: absolute;
}

.about-snow-1 {
  top: 12rem;
  left: 1.5rem;
  animation: var(--animate-snow-1);
}

.about-snow-2 {
  right: -.75rem;
  bottom: .5rem;
  animation: var(--animate-snow-2);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background .4s, box-shadow .4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 32px #2c8ae8b3;
}

/*=============== SEND ===============*/
.send-container {
  position: relative;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 3rem;
  padding-top: 1.5rem;
}


.send-card {
  text-align: center;
}

.send-img {
  width: 180px;
  margin-bottom: .75rem;
}

.send-title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.send-descriptino {
  font-size: var(--small-font-size);
  padding-inline: 1.5rem;
}

.send-snow-1,
.send-snow-2,
.send-snow-3 {
  width: 50px;
  position: absolute;
}

.send-snow-1 {
  left: 0;
  top: 7rem;
  animation: var(--animate-snow-1);
}

.send-snow-2 {
  top: 23rem;
  right: 0;
  animation: var(--animate-snow-2);
}

.send-snow-3 {
  bottom: 9rem;
  left: 0;
  animation: var(--animate-snow-1);
}




/*=============== CELEBRATE ===============*/
.celebrate-container {
  position: relative;
  row-gap: 3.5rem;
}

.celebrate-data {
  text-align: center;
}


.celebrate-description {
  margin-bottom: 2rem;
}

.celebrate-img {
  width: 320px;
  justify-self: center;
}

.celebrate-snow-1,
.celebrate-snow-2 {
  width: 30px;
  position: absolute;
}

.celebrate-snow-1{
  top: 0;
  left: 1.5rem;
  animation: var(--animate-snow-1);
}

.celebrate-snow-2 {
  top: 18rem;
  right: 0;
  animation: var(--animate-snow-2);
}



/*=============== FOOTER ===============*/
.footer {
  overflow: hidden;
}

.footer-container {
  position: relative;
  padding-block: 4.5rem 2.5rem;
  text-align: center;
}

.footer-logo,
.footer-social-link,
.footer-copy {
  color: var(--white-color);
}

.footer-logo {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.footer-social-link {
  font-size: 1.25rem;
  transition: color .3s;
}

.footer-social-link:hover {
  color: var(--first-color);
}

.footer-copy {
  display: block;
  margin-top: 2rem;
  font-size: var(--smaller-font-size);
}

.footer-snow-1,
.footer-snow-2 {
  position: absolute;
}

.footer-snow-1 {
  width: 50px;
  top: 3rem;
  left: 4rem;
  animation: var(--animate-snow-1);
}

.footer-snow-2 {
  width: 30px;
  top: 6.5rem;
  right: 2rem;
  animation: var(--animate-snow-2);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(210, 8%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(210, 8%, 25%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(210, 8%, 35%);
}

/*=============== SCROLL UP ===============*/
.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--white-color);
  display: inline-flex;
  padding: .45rem;
  border-radius: .45rem;
  font-size: 1rem;
  color: var(--body-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s, transform .3s;
}

.scroll-up:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */


/* For large devices */


/* For 2K+ resolutions */
